{% extends 'base.html.twig' %}

{% block title %}Image
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="border p-5">
			<h1>{{ image.title }}</h1>
			<p>{{ image.src }}</p>
			<p>{{ image.alt }}</p>
		</div>
	</div>

{% endblock %}