{% extends 'base.html.twig' %}

{% block title %}Writer
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="border p-5">
			<h1>{{ writer.name }}</h1>
			<p>{{ writer.country }}</p>
		</div>
	</div>

{% endblock %}