{% extends 'base.html.twig' %}

{% block title %}Editor
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="border p-5">
			<h1>{{ editor.name }}</h1>
			<p>{{ editor.country }}</p>
		</div>
	</div>

{% endblock %}