{% extends 'base.html.twig' %}

{% block title %}Designer
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="border p-5">
			<h1>{{ designer.name }}</h1>
			<p>{{ designer.country }}</p>
		</div>
	</div>

{% endblock %}