{% extends 'base.html.twig' %}

{% block title %}Comic
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="border p-5">
			<h1>{{ comic.title }}</h1>
			<p>{{ comic.description }}</p>
			<p>{{ comic.year }}</p>
		</div>
	</div>

{% endblock %}