{% extends 'base.html.twig' %}

{% block title %}Licence
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="border p-5">
			<h1>{{ licence.name }}</h1>
			<p>{{ licence.description }}</p>
			<p>{{ licence.media }}</p>
		</div>
	</div>

{% endblock %}
